// - | Start typography | -
/*typography*/

// TYPEFACES
/*-| FONT FAMILY |-*/
$old-standard:'Old Standard TT', serif;
$raleway:'Raleway', sans-serif;

// FONT SIZES
/*-| FONTS SIZES |-*/
$xxx-large:3.125rem;    //50px
$xx-large:1.875rem;     //30px
$x-large:1.25rem;       //20px
$large:1.125rem;        //18px
$medium:1rem;           //16px
$small:0.875rem;        //14px
$x-small:0.75rem;       //12px

// FONT WEIGHT
/*-| FONTS WEIGHT |-*/
$regular:400;
$bold:700;