/*- COLOR SCHEME -*/
/*- FIRST COLOR SCHEME -*/
/*- SECOND COLOR SCHEME -*/
/* -| START BASE PAGE |- */
/*-| GENERAL RESET |-*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*typography*/
/*-| FONT FAMILY |-*/
/*-| FONTS SIZES |-*/
/*-| FONTS WEIGHT |-*/
.main {
  display: flex;
  flex-flow: row wrap;
}

@media screen and (min-width: 600px) {
  .respmenu {
    display: none !important;
  }
}
@media (max-width: 600px) {
  .nav__text {
    writing-mode: horizontal-tb !important;
  }
  .nav__ul {
    display: none !important;
  }
  .nav__container {
    display: block !important;
  }

  .main {
    width: 100% !important;
  }

  .main__section {
    width: 100vw !important;
    order: 2;
  }

  .header {
    width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 100vw !important;
    height: 60vh;
    order: 1 !important;
  }

  .footer {
    width: 100vw !important;
  }
}
@media (max-width: 900px) {
  .main {
    width: 100% !important;
  }

  .main__section {
    width: 100vw !important;
    order: 2;
  }

  .header {
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 100vw !important;
    height: 60vh;
    order: 1 !important;
  }

  .footer {
    width: 100vw !important;
  }
}
/*-| NAV SECTION START |-*/
.nav {
  width: 100vw;
  height: 6.5rem;
  background-color: #fff;
  display: flex;
}
.nav__logo {
  background-color: #0c0910;
  width: 6.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__text {
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  color: #fff;
  writing-mode: vertical-lr;
}

.nav__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
}
.nav__ul {
  display: flex;
  align-items: center;
}
.nav__li {
  margin: 0 1rem;
}
.nav__a {
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  font-size: x-large;
  font-weight: 700;
}

.respmenu a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  max-width: 200px;
  background: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.respmenu input[type=checkbox], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  width: 48px;
  height: 48px;
}

.respmenu .fa-bars, .respmenu .fa-times {
  font-size: 48px;
  pointer-events: none;
}

.respmenu input[type=checkbox] {
  opacity: 0;
}

.respmenu {
  color: black;
  position: relative;
  background: #ffffff;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.respmenu nav {
  display: none;
}

.respmenu input:checked ~ nav {
  display: block;
}

.respmenu input:checked ~ .fa-bars {
  display: none;
}

.respmenu input:not(:checked) ~ .fa-times {
  display: none;
}

/*BURGER MENU*/
.header {
  width: 35vw;
  padding: 3rem;
}
.header__title {
  font-size: 3.125rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Old Standard TT", serif;
}
.header__text {
  font-size: 1.125rem;
  font-family: "Raleway", sans-serif;
  margin: 2.5rem 0;
}

.img {
  min-width: 65vw;
  background-image: url(../img/imagen1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/*-| START FOOTER PAGE |-*/
/*|- NEWSLETTER -|*/
.footer {
  width: 35vw;
  height: 28vh;
  background-color: #0c0910;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer__newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
  line-height: 2rem;
}
.footer__title {
  font-family: "Old Standard TT", serif;
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

/*|- ASIDE -|*/
.aside {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.aside__text {
  font-family: "Old Standard TT", serif;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #0c0910;
  writing-mode: vertical-lr;
}

/*-| END OF FOOTER PAGE |-*/
/* START PAGE BUTTON + MODIFICATORS. */
.button {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #0c0910;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}
.button--small {
  font-size: 0.75rem;
  padding: 0.3rem 0.7rem;
}
.button:hover {
  border: 1px solid #a6a5a8;
}
.button:focus {
  color: #a6a5a8;
  border: 1px solid #a6a5a8;
}

.input {
  width: 15rem;
  height: 2rem;
  border: none;
  padding: 0 1rem;
}
.input::placeholder {
  font-size: 0.9rem;
  color: #0c0910;
  font-family: "Raleway", sans-serif;
  padding-left: 1rem;
}
.input:focus {
  border: none;
  outline: none;
}

.label {
  font-family: "Old Standard TT", serif;
}

/*# sourceMappingURL=main.css.map */
