.header{
    width: 35vw;
    padding: 3rem;

    &__title{
        font-size: $xxx-large;
        font-weight: $bold;
        text-transform: uppercase;
        font-family: $old-standard;
    }
    &__text{
        font-size: $large;
        font-family: $raleway;
        margin: 2.5rem 0;
    }
}