.main{
    display: flex;
    flex-flow: row wrap;
}

//MEDIAS QUERYS
    @media screen and (min-width: 600px) {
            .respmenu{
                display: none !important;
        }
    }
  @media (max-width: 600px) {
    .nav{
       &__text{
        writing-mode: horizontal-tb !important;
       }
       &__ul{
           display: none !important;
       }
       &__container{
           display: block !important;
       }
    }
    .main{
        width: 100% !important;
    }

    .main__section{
        width: 100vw !important;
        order: 2;
    }
    .header{
        width: 100vw !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        width: 100vw !important;
        height: 60vh;
        order: 1 !important;
    }
    .footer{
        width: 100vw !important;
    }
    
  }
  
  
  @media (max-width: 900px) {
    
    .main{
        width: 100% !important;
    }

    .main__section{
        width: 100vw !important;
        order: 2;
    }
    .header{
        width: 100vw !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img{
        width: 100vw !important;
        height: 60vh;
        order: 1 !important;
    }
    .footer{
        width: 100vw !important;
    }

  }